body{
    margin: 0;
    padding: 0;
}
body .container{
    background-size: cover;
    max-width: 100%;
    position: relative;
}

#slider figure img{
    filter: sepia(100%) hue-rotate(150deg) saturate(500%);
}